<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>
                    %d{ISO8601} [%X{correlationId}] %highlight(%-5level) %cyan(%logger) %n \t\t %msg [%blue(%thread)] %n%throwable
                </pattern>
            </layout>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT"/>
        <queueSize>5000</queueSize>
        <discardingThreshold>0</discardingThreshold>
    </appender>

    <root level="INFO">
        <appender-ref ref="ASYNC"/>
    </root>

    <logger name="com.kls.references.sboot.ibge.ipca.insights" level="DEBUG" />
    <logger name="org.springframework" level="WARN" />

</configuration>